.env
*.env
./docker-compose.override.yml

./src/*
./src

./plugins/*
./plugins

./data/*
./data

*.crt
*.pem
*_rsa
id_rsa

./certs/*
!./certs
!./certs/README.md

# Editor output
.vscode/
.editorconfig
.DS_Store