#!/usr/bin/env bash
# Copy this file to .env in this directory. These are all default values (unless specified in an adjacent comment otherwise) and will be set even if not defined in .env

# Fieldsets Pipeline Version
VERSION=latest
ENVIRONMENT="dev-local"

# Set these to false on production to enable only pipeline events to the log
ENABLE_DEBUG_MODE="true"
ENABLE_LOGGING="true"

# Local user ids to manage permissions
# Use `id -u` and `id -g` on a mac

LOCAL_UID=1000
LOCAL_GID=1000

# Valid Time Zone strings found here https://en.wikipedia.org/wiki/List_of_tz_database_time_zones
TIMEZONE="America/New_York"

# Event Logger
LOGGER_HOST="172.28.0.2"
LOGGER_PORT="24224"

# Fieldsets Local Network Configuration
FIELDSETS_NETWORK_SUBNET="172.28.0.0/24"

# Postgres Container Vars
POSTGRES_VERSION=15
POSTGRES_CONFIG_PATH="./config/postgres/"
POSTGRES_USER="postgres"
POSTGRES_PASSWORD="fieldsets"
POSTGRES_HOST="172.28.0.7"
POSTGRES_PORT=5432
POSTGRES_DB="fieldsets" #Make sure to update postgresql.conf parameter `cron.database_name`

###
# FOREIGN DATA SERVERS
# This PG Container mounts Fieldsets's production servers into database schemas
# You Can optionally define the values below if your instance is deployed within AWS
# If you are outside of the AWS network utilize the `fieldsets-local` container to mount these data sources via a SSH tunnel
###

# FieldsetsDB Partitioned Data Sets for R&D
FIELDSETSDB_USER=""
FIELDSETSDB_PASSWORD=""
FIELDSETSDB_HOST=""
FIELDSETSDB_PORT=5432

# Predefined Roles for various PG tasks.
POSTGRES_READER_ROLE="fieldsets_reader_role"
POSTGRES_READER_ROLE_PASSWORD=""
POSTGRES_WRITER_ROLE="fieldsets_writer_role"
POSTGRES_WRITER_ROLE_PASSWORD=""
POSTGRES_TRIGGER_ROLE="fieldsets_trigger_role"
POSTGRES_TRIGGER_ROLE_PASSWORD=""
